:root {
    --active-color: #4683d0;
    --index-width: 300px;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: white;
    color: rgb(85, 85, 85);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: var(--active-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    color: #36464e;
}

h2 {
    margin-top: 40px;
}

#mainContainer {
    height: 100%;
}

#contentHeader {
    font-family: "Open Sans", sans-serif;
    position: fixed;
    width: 100%;
    background-color: darkslateblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    z-index: 100;
}

#logo {
    margin-left: 60px;
    padding: 10px;
}

#navigationBar {
    display: table-cell;
    vertical-align: bottom;
    list-style-type: none;
    margin: 0;
    top: 45px;
    padding-left: 40px;
    position: fixed;
    left: var(--index-width);
}

ul#navigationBar a {
    color: white;
}

ul#navigationBar li {
    display: inline;
    padding: 20px;
}

#searchWrapper {
    display: flex;
    color: white;
    margin-right: 32px;
    align-items: center;
}

#searchWrapper b {
    user-select: none;
    transform: rotate(-45deg);
    display: block;
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
    margin-left: auto;
}

#searchWrapper b:hover {
    opacity: 0.7;
}

#searchField {
    outline: none;
    display: none;
    max-width: 200px;
    margin-left: auto;
    margin-right: 32px;
}

#searchField input {
    box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.5);
    padding: 0.325rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: block;
    font-weight: 400;
    color: #999999;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    transition: border-color 0.35s ease-in-out;
    width: 100%;
    outline: none;
}

#searchField input:focus {
    border-color: var(--active-color);
    border-width: 1px;
}

#searchResults a {
    margin: 10px 0 10px 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

#rootWrapper {
    height: 100%;
    position: relative;
}

#indexContainer {
    border-right: 1px solid #e5e5e5;
    flex: 1;
    overflow-y: auto;
    position: fixed;
    padding: 0px 1.875rem !important;
    font-family: "Open Sans", sans-serif;
    background-color: #f5f7f9;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: 0px;
    width: var(--index-width);
    user-select: none;
    height: 100%;
}

#indexContainer h1 {
    color: lightgray;
    font-size: 24px;
}

#indexContainer ul {
    color: #555555;
    list-style-type: none;
    padding: .25rem .25rem .25rem .875rem;
    margin: 0px;
    text-decoration: none;
    align-items: center;
}

#indexContainer ul a {
    display: block;
    color: #555555;
    text-decoration: none;
}

#indexContainer a.active {
    color: var(--active-color) !important;
}

#indexContainer hr {
    height: 1px;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
}

#contentContainer {
    height: 100%;
    width: auto;
    flex-grow: 3;
    padding: 0px;
    margin: 0px;
    padding: 100px 3.125rem 1.875rem 400px;
}

#content a {
    text-decoration: none;
    color: #4683d0;
}

#footer {
    color: #999999;
    padding-top: 20px;
    margin-top: 40px;
    box-shadow: 0 -1px 0 lightgray;
}

.code-inline {
    border-radius: 0.25rem;
    display: inline;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    background: #C4ECFF;
    border-color: #7BA5DB;
}

.code {
    border-radius: 0.25rem;
    margin: 0 0 1rem 0;
    padding: 30px;
    border: 1px solid antiquewhite;
    background: white;
    color: gray;
    margin-bottom: 3rem;
}

.block {
    border-radius: 0.25rem;
    font-family: "Roboto";
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: 1px solid #e5e5e5;
    border-left: solid 4px #3498db;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 3rem;
}

.note {
    border-radius: 0.25rem;
    font-family: "Arial";
    background-color: #d1ecf1;
    border: 1px solid powderblue;
    color: #0c5460;
    padding: 30px;
}

.warn {
    border-radius: 0.25rem;
    font-family: "Arial";
    background-color: moccasin;
    border: 1px solid burlywood;
    color: #ae5a00;
    padding: 30px;
}

.crit {
    border-radius: 0.25rem;
    font-family: "Arial";
    background-color: lightpink;
    border: 1px solid lightcoral;
    color: #6e0019;
    padding: 30px;
}

.see {
    font-family: "Arial";
    margin-top: 30px;
}

table {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    border: 1px solid #e5e5e5;
    background: white;
    border-radius: 0.25rem;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #000000;
    font-family: monospace;
}

table th {
    font-weight: 800;
}

table tr:nth-child(odd) {
    background-color: #fff
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

table th {
    padding: 1.25rem 1.875rem;
}

table td {
    padding: .2rem 1.875rem;
}

#accordion-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#accordion-menu li.open>ul {
    display: block;
}

#accordion-menu li>ul {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
    margin-left: 25px;
}

#accordion-menu ul.is-visible {
    display: block;
}

#accordion-menu li {
    position: relative;
    overflow: hidden;
    transition: all .1s ease;
    align-items: center;
}

#accordion-menu li:last-child {
    border: none;
}

#accordion-menu li::after {
    content: "";
    display: block;
    clear: both;
}

#accordion-menu li>a>svg {
    display: block;
    position: relative;
    fill: rgb(48, 48, 48);
    width: 10px;
    float: right;
    margin-top: 8px;
    transition: all .1s ease;
}

#accordion-menu li.open>a>svg {
    transform: rotate(0deg);
}

#accordion-menu li>a>svg {
    transform: rotate(-90deg);
}

#accordion-menu a {
    padding: 1px 20px;
    align-items: center;
    text-decoration: none;
}

#accordion-menu * {
    box-sizing: border-box;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.notransition li>ul {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#accordion-menu {
    margin: 100px 0 20px 0;
}