:root {
    --active-color: rgb(6, 76, 219);
    --index-width: 250px;
}

body {
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

#rootWrapper {
    display: flex;
    flex-direction: row;
}

#contentIndex {
    border-right: 1px solid #e5e5e5;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--index-width);
    user-select: none;
}

#contentIndex ul {
    color: #555555;
    list-style-type: none;
    padding: .25rem .25rem .25rem .875rem;
    margin: 0px;
    text-decoration: none;
}

#contentIndex ul a {
    margin: 4px 0 4px 0;
    color: #555555;
    text-decoration: none;
}

#contentIndex ul ul a, #contentIndex ul ul a:visited {
    margin: 0px;
    color: #555555;
    text-decoration: none;
}

#contentContainer {
    flex-grow: 3;
    padding: 0px;
    margin: 0px;
    margin-left: calc(var(--index-width) + 1px);
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    color: #36464e;
    font-family: "Helvetica";
}

h2 {
    margin-top: 64px;
}

.code-inline {
    border-radius: 0.25rem;
    display: inline;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e5e5;
    background: white;
    color: #000000;
}

.code {
    border-radius: 0.25rem;
    margin: 0 0 1rem 0;
    padding: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e5e5;
    background: white;
    color: gray;
    margin-bottom: 3rem;
}

.info {
    border-radius: 0.25rem;
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: 1px solid #e5e5e5;
    border-left: solid 4px #3498db;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 3rem;
}

table {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    border: 1px solid #e5e5e5;
    background: white;
    border-radius: 0.25rem;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #000000;
    font-family: monospace;
}

table th {
    font-weight: 800;
}

table tr:nth-child(odd) {
    background-color: #fff
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

table th {
    padding: 1.25rem 1.875rem;
}

table td {
    padding: .2rem 1.875rem;
}

#content {
    padding: 20px 3.125rem 1.875rem 3.125rem;
}

#content a {
    color: rgb(85, 85, 85);
    text-decoration: underline;
}

#indexContainer {
    overflow-y: auto;
    min-height: 0;
    flex: 1;
    padding: 1.875rem !important;
}

#indexContainer h1 {
    display: none;
}

#indexContainer hr {
    height: 1px;
    border: none;
    color: #999;
    background-color: #999;
}

#contentHeader {
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px;
    background-color: #0070cd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

#contentHeader h1 {
    display: block;
    font-size: 28px;
    position: absolute;
    color: white;
}

#searchWrapper {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    color: white;
}

#searchWrapper b {
    user-select: none;
    transform: rotate(-45deg);
    display: block;
    font-size: 24px;
    font-weight: 100;
    padding-top: 10px;
    margin-left: 20px;
    cursor: pointer
}

#searchWrapper b:hover {
    opacity: 0.7;
}

#searchField {
    outline: none;
    display: none;
    max-width: 200px;
    margin-right: 32px;
}

#searchField input {
    box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.5);
    padding: 0.325rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: block;
    font-weight: 400;
    color: #999999;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    transition: border-color 0.35s ease-in-out;
    width: 100%;
    outline: none;
}

#searchField input:focus {
    border-color: var(--active-color);
    border-width: 1px;
}

#contentIndex a.active {
    color: var(--active-color) !important;
}

#footer {
    color: #999999;
    padding-top: 20px;
    box-shadow: 0 -1px 0 lightgray;
}

#accordion-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#accordion-menu li.open>ul {
    display: block;
}

#accordion-menu li>ul {
    /* position: absolute; */
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
    margin-left: 25px;
}

#accordion-menu ul.is-visible {
    display: block;
    /* height: auto; */
}

#accordion-menu li {
    /* border-bottom: 1px solid rgba(194, 194, 194, 0.333); */
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
}

#accordion-menu li:last-child {
    border: none;
}

#accordion-menu li::after {
    content: "";
    display: block;
    clear: both;
}

#accordion-menu li>a>svg {
    display: block;
    position: relative;
    fill: rgb(48, 48, 48);
    width: 10px;
    float: right;
    transition: all .3s ease;
}

#accordion-menu li.open>a>svg {
    transform: rotate(0deg);
}

#accordion-menu li>a>svg {
    transform: rotate(-90deg);
}

#accordion-menu a {
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

#accordion-menu * {
    box-sizing: border-box;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.notransition li>ul {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }